/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.show-error {
	max-width: 870px;
	margin: 50px auto;
	background: rgba(238, 81, 81, 0.143625);
	border: 1px solid #EE5151;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 20px 20px;
}
.show-error h5 {
	margin: 0;
	margin-right: 10px;
	color: #EE5151!important;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: normal;
}
.mr-1 {
	margin-right: 10px;
}
